.code {
    font-family: monospace;
    background-color: beige;
}

h1 {
    text-align: center;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
table {
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
        font-variant: normal;
}

thead {
    background-color: plum;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
h2 {
    color: rebeccapurple;
    text-align: center;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

td {
    border-top: 1px solid darkorchid;
}